<%- include('../partials/header.ejs') %>
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">

        <form action="/postCheckOut" method="post">
            <div class="row justify-content-center">

                <div class="col-lg-6">

                    <div class="row">
                        <% if (allAddresses && allAddresses.length> 0) { %>
                            <% for (const address of allAddresses) { %>
                                <!-- Address Card -->
                                <div class="col-md-5">

                                    <div class="card border-info mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-secondary  font-weight-medium text-dark ">
                                            <input type="radio" name="address"
                                                style="position: absolute; top: 1.5em; right: 2em;"
                                                data-address-id="<%= address._id %>"
                                                onchange="updateSelectedAddress(this)">
                                            <input type="hidden" name="selectedAddressId" id="selectedAddressId"
                                                value="">
                                            <h5>Select Address</h5>
                                            <small style="color: red;" class="mt-3">
                                                <%=locals.addressError?addressError:'' %>
                                              </small>

                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= address.name %>
                                            </h5>
                                            <p class="card-text">
                                                <%= address.phone %>
                                            </p>
                                            <p class="card-text">
                                                <%= address.state %>
                                            </p>
                                            <p class="card-text">
                                                <%= address.district %>
                                            </p>
                                            <p class="card-text">
                                                <%= address.town %>
                                            </p>
                                            <p class="card-text">
                                                <%= address.pincode %>
                                            </p>
                                            <p class="card-text">
                                                <%= address.address %>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <% } %>
                                    <% } else { %>
                                        <p>No addresses found.</p>
                                        <% } %>

                    </div>

                    <div class=" border-secondary bg-transparent">
                        <a href="">
                            <button class="btn btn-sm  btn-primary font-weight-normal my-3 py-3" type="submit">Add
                                Address</button>
                        </a>

                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="d-flex flex-column">
                        <!-- Order Total and Payment -->
                        <% if ( cart.length> 0) { %>
                            <!-- Order Total Card -->
                            <div class="card border-info mb-3">
                                <div class="card-header bg-secondary border-0">
                                    <h5 class="font-weight-semi-bold m-0">Order Total</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="font-weight-medium mb-3">Products</h5>
                                    <!-- Replace the static product details with actual data from your cart -->
                                    <!-- Example: -->
                                    <% for (const product of cart[0].products) { %>
                                        <div class="d-flex justify-content-between">
                                            <p>
                                                <%= product.name %>
                                            </p>
                                            <p>
                                                <%= product.price %>
                                            </p>
                                        </div>
                                        <% } %>
                                            <hr class="mt-0">
                                            <div class="d-flex justify-content-between mb-3 pt-1">
                                                <h6 class="font-weight-medium">Subtotal</h6>
                                                <h6 class="font-weight-medium">&#8377 <%= cart[0].total %>
                                                </h6>
                                            </div>
                                            <!-- You can add more details here, such as shipping cost, taxes, etc. -->
                                            <!-- Example: -->
                                            <div class="d-flex justify-content-between">
                                                <h6 class="font-weight-medium">Shipping</h6>
                                                <h6 class="font-weight-medium">&#8377 10</h6>
                                            </div>
                                </div>
                                <div class="card-footer border-secondary bg-transparent">
                                    <div class="d-flex justify-content-between mt-2">
                                        <h5 class="font-weight-bold">Total</h5>
                                        <!-- Calculate and display the total amount here -->
                                        <!-- Example: -->
                                        <h5 class="font-weight-bold">$<%= cart[0].total + 10 %>
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Payment Card -->
                            <div class="card border-info mb-3">
                                <div class="card-header bg-secondary border-0">
                                    <h5 class="font-weight-semi-bold m-0">Payment</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Payment options, radio buttons, etc. -->
                                    <!-- Example: -->
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="payment" id="1"
                                                value="1" onchange="updateSelectedPayment(this)">
                                            <label class="custom-control-label" for="1">COD</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="payment" id="2"
                                                value="2" onchange="updateSelectedPayment(this)">
                                            <label class="custom-control-label" for="2">Online Payment</label>
                                        </div>
                                        <input type="hidden" name="selectPayment" id="selectPayment">
                                        <small style="color: red;" class="mt-3">
                                            <%=locals.paymentError?paymentError:'' %>   
                                          </small>
                                    </div>
                                </div>
                                <div class="card-footer border-secondary bg-transparent">
                                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3"
                                        type="submit">Place Order</button>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>


            </div>

        </form>
    </div>

    <script>
        function updateSelectedAddress(radio) {
            const selectedAddressId = radio.getAttribute('data-address-id');
            console.log('Selected Address ID:', selectedAddressId);
            document.querySelector('input[name="selectedAddressId"]').value = selectedAddressId;
        }

        function updateSelectedPayment(radio) {
            const selectedPayment = radio.value;
            document.querySelector('#selectPayment').value = selectedPayment;
        }
    </script>



    <%- include('../partials/footer.ejs') %>