<%- include('../partials/header.ejs') %>

<section class="order_details section_gap">
    <div class="container">
        <h4 class="title_confirmation text-center text-success mt-5">Thank you. Your order has been received.</h4>

        <div class="text-center">
            <form action="/" >
                <button class="btn btn-sm btn-primary font-weight-medium my-2 py-2" type="submit">Go to home</button>
            </form>

        </div>   

          <!-- Border for the content inside the row -->
        <div class="container border border-secondary py-4 mt-5 mb-5 bg-secondary ">
            <div class="row order_d_inner ">
                <div class="col-lg-4">
                    <div class="details_item ">
                        <h5>Order Info</h5>
                        <!-- Use list-unstyled to remove list style -->

                        <ul class="list-unstyled">
                            <% for (let i = 0; i < order.products.length; i++) { %>

                            <li><a href="#" style="text-decoration: none;"><span class="text-dark">Item Name  <%= i+1 %> : </span>  <%=  order.products[i].name %></a></li>
                            <li><a href="#" style="text-decoration: none;"><span class="text-dark">quantity : </span>  <%=  order.products[i].quantity%></a></li>
                            <li><a href="#" style="text-decoration: none;"><span class="text-dark">price </span> &#8377 <%=  order.products[i].price %></a></li><br>

                            <% if(order.products[i].orginalPrice>0){ %>
                                <li><a href="#" style="text-decoration: none;"><span class="text-dark">Orginal price </span> &#8377 <%=  order.products[i].orginalPrice %></a></li><br>

                                
                                <% } %>
                            <% } %>

                        </ul>

                        <a href="" style="text-decoration: none;"><span class="text-dark font-weight-semi-bold">Total :</span> <span> &#8377 <%= order.total %></span></a><br>
                        <a href="" style="text-decoration: none;"><span class="text-dark font-weight-semi-bold">Payment :</span> <span> <%= order.paymentMode %></span></a>

                        
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="details_item">
                        <h5>Shipping Address</h5>
                        <ul class="list-unstyled">
                            <li><a href="#"><span><%= selectedAddrss.name %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.phone %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.state %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.district %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.town %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.pincode %></span></a></li>
                            <li><a href="#"><span><%= selectedAddrss.address %></span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <a href="/download-invoice/<%= order._id %>" class="btn btn-primary" style="font-size: smaller;">Download Invoice</a>

        </div>


        
        <!-- Border for the "Order Details Table" -->
        
        
    </div>
</section>

<%- include('../partials/footer.ejs') %>
