<%- include('../partials/header.ejs') %>



    <!--Navbar Start -->

    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-md-3 d-none d-md-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
                    data-toggle="collapse" href="#category-collapse"
                    style="height: 50px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
                    id="category-collapse" style="width: calc(100% - 30px); z-index: 1;">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 300px">
                        <a href="/shop?search=shirt" class="nav-link">Shirt</a>
                        <a href="/shop?search=T-shirt" class="nav-link">T-Shirt</a>
                        <a href="/shop?search=jeans" class="nav-link">Jeans</a>
                        <a href="/shop?search=pant" class="nav-link">Casual Pant</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/shop" class="nav-item nav-link">Shop</a>
                            <!-- <a href="detail.html" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/cart" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div> -->
                            <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                        </div>
                        <div class="navbar-nav ml-auto py-0">

                            <% if(locals.user) { %>
                                <!-- <a href="/logout" class="nav-item nav-link">Logout</a> -->
                                <a href="#" class="btn border"
                                    style="text-decoration: none; color: #D19C97; margin-right: 12px;  ">
                                    <i class="fas fa-user"></i>
                                </a>
                                <form action="/logout" method="POST">

                                    <button class="btn border" type="submit" style=" background: none; font-size: 22px;                           
                            padding: 2px;
                            ">Logout</button>
                                </form>

                                <% } else { %>
                                    <form action="/login" method="">
                                        <button type="submit" style=" background: none;
                            border: none;
                            padding: 0;
                            ">Login</button>
                                    </form>

                                    <!-- <button onclick="location.href='/signUp'"  style=" background: none;
                          border: none;
                          padding: 0;
                          ">Register</button> -->

                                    <% } %>

                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </div>


    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5  p-2 d-flex justify-content-center">

            <!-- Left Column (Image) -->
            <div class="col-lg-4 pb-3 col-12 text-center border border-dark p-2 m-1">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 pb-5 ps-5 pe-5">
                        <!-- card left -->
                        <div class="product-imgs">
                            <div class="img-display">
                                <div class="img-showcase bg-danger" style="border: 1px solid rgb(233, 232, 232);">
                                    <div class="main-image bg-danger" style="height: 80%;">
                                        <img class="w-100" src="/productImages/<%=product.image[0] %>" id="main-img"
                                            alt="Responsive image" style="cursor: zoom-in;" height="80%">
                                    </div>
                                </div>
                            </div>
                            <div class="img-select">
                                <div class="img-item" style="border: 1px solid rgb(233, 232, 232);">
                                    <a data-id="1">
                                        <img class="imgg" src="/productImages/<%=product.image[1] %>"
                                            id="<%=product.image[1] %>" alt="shoe image" onclick="imgClick(this.id)">
                                    </a>
                                </div>
                                <div class="img-item" style="border: 1px solid rgb(233, 232, 232);">
                                    <a data-id="2">
                                        <img class="imgg" src="/productImages/<%=product.image[2] %>"
                                            id="<%=product.image[2] %>" alt="shoe image" onclick="imgClick(this.id)">
                                    </a>
                                </div>
                                <% if(product.image[3]){ %>

                                    <div class="img-item" style="border: 1px solid rgb(233, 232, 232);">
                                        <a data-id="3">
                                            <img class="imgg" src="/productImages/<%=product.image[3] %>"
                                                id="<%=product.image[3] %>" alt="shoe image"
                                                onclick="imgClick(this.id)">
                                        </a>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Right Column (Product Details) -->

            <div class="col-lg-4 pb-3 border border-dark m-1 p-2  ">
                <h3 class="font-weight-semi-bold mb-3" style="margin-top: 100px;">
                    <%= product.name %>
                </h3>
                <div class="d-flex mb-3 mt-4 mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <!-- <h3 class="font-weight-semi-bold mb-4 mt-5">&#8377 <%= product.price %> -->
                </h3>
                <p class="mb-4 mt-4">
                    <%= product.description %>
                </p>
                <form action="/addToCart/<%= product._id %>" method="post">

                    <div class="d-flex mb-3">
                        <p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-2" name="size">
                            <label class="custom-control-label" for="size-2">S</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-3" name="size">
                            <label class="custom-control-label" for="size-3">M</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-4" name="size">
                            <label class="custom-control-label" for="size-4">L</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="size-5" name="size">
                            <label class="custom-control-label" for="size-5">XL</label>
                        </div>
                    </div>


                    <% if (product.offer && product.expiryDate) { %>
                        <% if (currentDate <=product.expiryDate) { %>
                            <!-- Display your badge or logo here -->
                            <div class="p-2">
                                <span>Orginal price :</span><span class="font-weight-semi-bold  mt-5"
                                    style="font-size: 22px;"> &#8377 <del>
                                        <%= product.orginalPrice %>
                                    </del> </span><br>
                            </div>
                            <div class="p-2">
                                <span>Discount price :</span><span class="font-weight-semi-bold text-dark p-2 mt-5"
                                    style="font-size: 26px;"> &#8377 <%= product.discountPrice %> </span>

                            </div>

                            <div class=" d-flex align-items-center justify-content-center"><i
                                    class="lni lni-offer p-1  " style="color: rgb(234, 9, 16); font-size: 22px;"></i>
                                <span class="pl-2" style="color: rgb(255, 0, 17); font-size: 24px;">Special offer of <%=
                                        product.offer %> %</span>
                            </div>

                            <% } else{ %>
                                <h3 class="font-weight-semi-bold mb-4 mt-5">&#8377 <%= product.price %>
                                        <% } %>
                                            <% }else{ %>
                                                <h3 class="font-weight-semi-bold mb-4 mt-5">&#8377 <%= product.price %>
                                                        <% } %>

                                                            <div
                                                                class="d-flex flex-column align-items-center mb-4 pt-3">
                                                                <% if (product.quantity==0) { %>
                                                                    <button onclick="" class="btn btn-primary px-3"
                                                                        disabled>
                                                                        <i class="fa fa-shopping-cart mr-1"></i> Add To
                                                                        Cart
                                                                    </button>
                                                                    <p style="color: red;" class="pt-3">Out of Stock!
                                                                    </p>
                                                                    <% } else { %>
                                                                        <button onclick="return validateForm1()"
                                                                            class="btn btn-primary px-3">
                                                                            <i class="fa fa-shopping-cart mr-1"></i> Add
                                                                            To Cart
                                                                        </button>
                                                                        <% } %>

                                                                            <span id="sizeError"
                                                                                class="text-danger pt-3" style="font-size: 15px;"></span>

                                                            </div>


                </form>

            </div>
        </div>
    </div>


    <!-- Shop Detail End -->




    <%- include('../partials/footer.ejs') %>