<%- include('../partials/header.ejs') %>
    <!-- navbar -->
    <div class="container-fluid mb-5">
        <!-- Your navigation bar here -->
        <div class="row border-top px-xl-5">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/userProfile" class="nav-item nav-link active">Dashboard</a>
                            <a href="/editUserProfile" class="nav-item nav-link">Edit Profile</a>
                            <a href="/addAddress" class="nav-item nav-link">Add Address</a>
                            <!-- <a href="#" class="nav-item nav-link">Change Password</a> -->
                            <a href="/orders" class="nav-item nav-link">Orders</a>
                            <!-- <a href="#" class="nav-item nav-link">WishList</a> -->
                            <a href="#" class="nav-item nav-link"></a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <% if(userData) { %>
                                <form action="/logout" method="POST" class="mr-auto">
                                    <button class="btn border" type="submit"
                                        style="background: none; font-size: 22px; padding: 2px;">Logout</button>
                                </form>
                                <a href="#" class="btn border ml-2" style="text-decoration: none; color: #D19C97;">
                                    <i class="fas fa-user"></i>
                                </a>
                                <% } else { %>
                                    <form action="/login" method="">
                                        <button type="submit"
                                            style="background: none; border: none; padding: 0;">Login</button>
                                    </form>
                                    <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </div>
    <!-- navbar end -->

    <div class="container rounded bg-white mt-5 mb-5" style="border: 1px solid rgb(155, 154, 154);">

        <div class="row">
            <!-- User Profile Column -->
            <div class="col-md-4 mt-4">
                <div class="card border" style="max-width: 18rem;">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= userData.name %>
                                <%= userData.lastName %>
                        </h5>
                        <p class="card-text">
                            <%= userData.email %>
                        </p>
                        <p class="card-text">
                            <%= userData.phone %>
                        </p>
                        <!-- Add more profile card details as needed -->
                    </div>
                </div>

                <!-- Wallet Column -->
                <div class=" mt-4">
                    <div class="card border mb-3" style="max-width: 18rem;">
                        <div class="card-header">Wallet</div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Amount: &#8377 <%= userData.wallet %>
                            </h5>
                            <!-- Add more wallet details as needed -->
                        </div>
                    </div>
                </div>
                <!-- referral link -->
                <!-- Referral Link -->
                <% if (userData.referral) { %>
                    <div class=" mt-4">
                        <div class="card border mb-3" style="max-width: 18rem;">
                            <div class="card-header">Referral Link</div>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="#" id="referralLink" style="color: blue; cursor: pointer;"><%= referralLink %></a>
                                    <p id="copyMessage" style="display: none; color: green;">Link copied to clipboard</p>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                
                
                             
            </div>

            <!-- vertical border -->
            <div class=" border-right " style="border: 1px solid rgb(155, 154, 154);"></div>



            <!-- Address Column -->
            <div class="col-md-7 mt-4 d-flex flex-wrap justify-content-around">
                <!-- Loop through and display addresses -->
                <% if (allAddresses && allAddresses.length> 0) { %>
                    <% for (const address of allAddresses) { %>
                        <div class="card border mb-3 " style="width: 16rem;">
                            <div class="card-header">Address</div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= address.name %>
                                </h5>
                                <p class="card-text">
                                    <%= address.phone %>
                                </p>
                                <p class="card-text">
                                    <%= address.state %>
                                </p>
                                <p class="card-text">
                                    <%= address.district %>
                                </p>
                                <p class="card-text">
                                    <%= address.town %>
                                </p>
                                <p class="card-text">
                                    <%= address.pincode %>
                                </p>
                                <p class="card-text">
                                    <%= address.address %>
                                </p>
                                <!-- Add more address details as needed -->
                            </div>
                            <form action="/deleteAdd/<%= address._id %>" method="post">
                                <button class="btn btn-sm btn-primary font-weight-normal" type="submit">
                                    delete
                                </button>
                            </form>
                        </div>
                        <% } %>
                            <% } else { %>
                                <p>No addresses found.</p>
                                <% } %>
            </div>
        </div>
    </div>


    <%- include('../partials/footer.ejs') %>