<%- include('../partials/header.ejs') %>
    <!-- navbar -->
    <div class="container-fluid mb-5">
        <!-- Your navigation bar here -->
        <div class="row border-top px-xl-5">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="#" class="nav-item nav-link active">Dashboard</a>
                            <a href="/editUserProfile" class="nav-item nav-link">Edit Profile</a>
                            <a href="/addAddress" class="nav-item nav-link">Add Address</a>
                            <a href="#" class="nav-item nav-link">Change Password</a>
                            <a href="#" class="nav-item nav-link">Order</a>
                            <a href="#" class="nav-item nav-link">WishList</a>
                            <a href="#" class="nav-item nav-link"></a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <% if(userData) { %>
                                <form action="/logout" method="POST" class="mr-auto">
                                    <button class="btn border" type="submit"
                                        style="background: none; font-size: 22px; padding: 2px;">Logout</button>
                                </form>
                                <a href="#" class="btn border ml-2" style="text-decoration: none; color: #D19C97;">
                                    <i class="fas fa-user"></i>
                                </a>
                                <% } else { %>
                                    <form action="/login" method="">
                                        <button type="submit"
                                            style="background: none; border: none; padding: 0;">Login</button>
                                    </form>
                                    <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </div>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <!-- User Profile Icon Column -->
            <div class="col-md-2 border-right " style="padding-right:12em ;">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">
                        <%= userData.name %>
                    </span>
                    <span class="text-black-50">
                        <%= userData.email %>
                    </span>
                </div>
            </div>

            <!-- Profile Card Column -->
            <div class="col-md-4 border-right pl-5">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Profile</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= userData.name %>
                                <%= userData.lastName %>
                        </h5>
                        <p class="card-text">
                            <%= userData.email %>
                        </p>
                        <p class="card-text">
                            <%= userData.phone %>
                        </p>
                        <!-- Add more profile card details as needed -->
                    </div>
                </div>
            </div>

            <!-- Addresses Column -->
            <div class="col-md-6 pl-5">
                <!-- If there are addresses -->
                <% if (allAddresses && allAddresses.length> 0) { %>
                    <% for (const address of allAddresses) { %>
                        <div class=" p-1 py-1">
                            <div class="card border-info mb-3" style="max-width: 18rem;">
                                <div class="card-header">Address</div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= address.name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= address.phone %>
                                    </p>
                                    <p class="card-text">
                                        <%= address.state %>
                                    </p>
                                    <p class="card-text">
                                        <%= address.district %>
                                    </p>
                                    <p class="card-text">
                                        <%= address.town %>
                                    </p>
                                    <p class="card-text">
                                        <%= address.pincode %>
                                    </p>
                                    <p class="card-text">
                                        <%= address.address %>
                                    </p>
                                    <!-- Add more address details as needed -->
                                </div>
                                <form action="/deleteAdd/<%= address._id %>" method="post">
                                    <button class=" btn-sm btn-primary font-weight-normal" type="submit">
                                        delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <p>No addresses found.</p>
                                <% } %>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>